{% extends 'base.html.twig' %}
{% block body %}
    {% include 'nav.html.twig' %}
    <div class="container">
        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-3">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
            <div class="alert alert-danger mt-3">
                {{ message }}
            </div>
        {% endfor %}
        <div class="jumbotron mt-4">
            {% block fos_user_content %}{% endblock %}
        </div>
    </div>
    {% include 'footer.html.twig' %}
{% endblock %}